<!doctype html>
<body>
<h1><b>Writing Focus</b></h1>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<%- include('partials/header', {title:"About"}) -%>
<%- include('partials/navbar') -%>
<link href="about.css" rel="stylesheet">
<h1>About Writing Focus</h1>
<div class="container-fluid">
  <h2>  Our mission</h2>
  <h3><b>To provide writers with a means of self-discipline to aid them in all writing endeavors. </b></h3>
  <div class="jumbotron">
<p> We created an application with the aim of helping all those who use writing platforms to maintain focus and discipline whilst writing. In the modern day, there are constant distractions on one's computer and devices that allow for plenty of excuses to avoid writing and thus, cause missed deadlines and due dates for students, authors, and all others who write on a consistent basis.</p>
</div>
<h4><b>About the Founder</b> </h4>
<br>
<div class="jumbotron">
<p>Aidan Cohen has been vocal about his personal struggle with distractions and external obstacles when writing. He felt that it was likely others were struggling with this same issue and decided to do something about it. </p>
</div>
</div>
</body>
<%- include('partials/footer') -%>
