<%- include('partials/header', {title:"Writing focus!"}) -%>

<p> Welcome to the official site of WritingFocus!
  <br>
  <br>
  <% if(user){ %>
  <a href="/displayEssays">Click to view your essay repository</a>
  <% }else{ %>
  <a href="/login">Click to login</a>
  <% }%>

  <%- include('partials/footer') -%>
