html{
  background-color: #ccffff;
}
script{
  background-color: #ccffff;
}
body{
  background-color: #ccffff;
}
h3{
  font-family: 'Courier New', monospace;
  font-size: 20px;
}
p{
  font-size: 20px;
}
