<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<%- include('../partials/header', {title:"Create Goals"}) -%>

<div class="container-fluid">
  <div class="goals">
  <h2>Create your Goals</h2>
  <div class="goal">
  <form action="/goals/createGoals" method="POST">
    <div class="lab"><label for="WordCount">Word Count:</label></div>
    <input type="text" id="WordCount" name="WordCount" required><br><br>
    <div class="lab"><label for="TimeLimit">Time Limit:</label></div>
    <input type="text" id="TimeLimit" name="TimeLimit" required><br><br>
    <input type="submit" value="Create">
  </form>
  </div>
</div>
</div>
<%- include('../partials/footer') -%>
