<!doctype html>
<h1><b>Writing Focus</b></h1>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<%-include('../partials/navbar') -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<%- include('../partials/header', {title:"Create Goals"}) -%>

<div class="container-fluid">
  <div class="goal">
  <h2>Create your Goals</h2>
  <form action="/goals/createGoals" method="POST">
    <div class="lab"><label for="Title">Title:</label></div>
    <input type="text" id="Title" name="Title" required><br><br>
    <div class="lab"><label for="Type">Type:</label></div>
    <input type="text" id="Type" name="Type" required><br><br>
    <div class="lab"><label for="Number">Count:</label></div>
    <input type="text" id="Number" name="Number" required><br><br>
    <div class="lab"><label for="TimeLimit">Time Limit:</label></div>
    <input type="text" id="TimeLimit" name="TimeLimit" required><br><br>
    <input type="submit" value="Create">
  </form>
  </div>
</div>
</html>
<%- include('../partials/footer') -%>
